@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "vazir";
    src: url("../src/assets/fonts/Vazirmatn-FD-NL-Regular.woff2")
      format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "vazir";
    src: url("../src/assets/fonts/Vazirmatn-FD-NL-Medium.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "vazir";
    src: url("../src/assets/fonts/Vazirmatn-FD-NL-SemiBold.woff2")
      format("woff2");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "vazir";
    src: url("../src/assets/fonts/Vazirmatn-FD-NL-Bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "b_nazanin";
    src: url("../src/assets/fonts/B-Nazanin.woff") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }

  :root {
    --color-primary: #091d1b;
    /* --color-primary: #1a0a0b; */
    --color-secondary: #bc955e;
    --color-muted: #b1b1b1;
    --color-light: #ded8cc;
    --color-dark: #070c08;
    /* --color-gray: #848484; */
    --color-surface: ;
    --color-primary-light: #0f2f2c;
    --color-primary-dark: #05100f;
    --color-secondary-light: #d5af7e;
    --color-secondary-dark: #7b5c30;

    /* --gradient-primary: linear-gradient(
      90deg,
      var(--color-primary-alpha) 0%,
      var(--color-primary) 100%
    ); */

    --gradient-secondary: linear-gradient(
      180deg,
      var(--color-secondary-light) 0%,
      var(--color-secondary-dark) 100%
    );
  }

  * {
    transition: all 200ms ease-in-out;
  }

  .shadow-brand {
    @apply shadow-lg;
  }

  .page {
    @apply my-20;
  }

  .swiper-pagination-bullet-active {
    background: var(--color-primary) !important;
  }

  .scroll-anim {
    opacity: 0;
    transform: var(--from);
    transition: all 0.7s ease;
  }

  .scroll-anim.show {
    opacity: 1;
    transform: translate(0, 0) scale(1);
  }

  .swiper-button-next,
  .swiper-button-prev {
    color: var(--color-secondary)!important;
  }

  html {
    direction: rtl;
    overflow-x: hidden !important;
  }

  body {
    margin: 0;
    background: var(--color-primary-dark);
    font-family: "Vazir", sans-serif;
    color: var(--color-secondary);
    font-size: 14px;
    overflow-x: hidden !important;
    /* text-align: justify; */
  }

  #root {
    /* width: 1400px; */
    max-width: 100%;
    margin: 0 auto;
    min-height: 100svh;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
  }

  h1 {
    @apply text-3xl md:text-5xl lg:text-[4rem] leading-[1.5] font-bold;
  }

  h2 {
    @apply text-2xl md:text-4xl lg:text-[2.25rem] leading-[1.5] font-bold;
  }

  h3 {
    @apply text-xl md:text-3xl lg:text-[1.75rem] leading-[1.4] font-semibold;
  }

  h4 {
    @apply text-lg md:text-2xl lg:text-[1.5rem] leading-[1.4] font-semibold;
  }

  h5 {
    @apply text-base md:text-lg lg:text-[1.25rem] leading-[1.7] font-medium;
  }

  h6 {
    @apply text-sm md:text-base lg:text-[1rem] leading-[1.5] font-medium;
  }
}

@layer components {
  .app-container {
    @apply mx-auto px-4 sm:px-6 lg:px-12;
    /* max-width: 1400px; */
    max-width: 85rem;
  }
}
